* {
padding: 0;
margin: 0;
}
body {
	background: #c7f5fe;
}
.boton {
	background-color: #f57170;
	margin-left: 25%;
	border: none;
	padding: 8px;
	width: 120px;
	
	border-radius: 5px;
	font-weight: normal;
}
.salida {
	margin-left: 900px;
}